<div>
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= render 'flash' %>
        <%# controller.controller_name %>
        <%# controller.view_paths %>
        <%# lookup_context.find_template("#{controller_path}/#{action_name}").identifier %>
        <%# console %>
</div>
